html {
    height: 100%;
  }
body {
    background-color: #071014;
    background: linear-gradient(#30142b, #a12727);
    font-family: 'Arial', sans-serif;
  }
  .login-box {
    margin-top: 4px;
    background: #2a0d15;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
  }
  .form-group {
    margin: 20px;
    color: #fff;
    text-align: left;
  }
  .form-control:focus {
      box-shadow: none;
      background-color:#2a0d15;
      color: #ECF0F5;
  }
  .form-control-label {
      font-size: 15px;
      color: #ECF0F5;
      letter-spacing: 1px;
  }
  input[type=text] {
    background-color: #2a0d15;
    border: none;
    border-bottom: 2px solid#ffffff;
    border-top: 0px;
    border-radius: 0px;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
  }
  input[type=text]:focus {
    border-bottom: 2px solid #f49803;
  }
  .text-center{
    display: block;
    text-align: center;
    margin: 40px 0 0 0;
    color:  #fff;
    font-weight: 500;
  }
  .btn-primary{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    color: #fff;
    background-color:#f49803;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    position: relative;
    display: inline-block;
    letter-spacing: 4px
  }
  .btn-primary:hover{
    background-color:rgba(218, 105, 7, 0.97)!important;
    color: #fff;
  }
  .btn-primary_pan{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    color: #fff;
    background-color:rgba(191, 173, 158, 0.97);
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    position: relative;
    display: inline-block;
    letter-spacing: 4px;
  }
